<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'shared-hosting')}" xmlns:th="https://www.thymeleaf.org">
<body>
<div class="main ">

  <!--hero section start-->
  <section class="ptb-120 gradient-bg">
    <div class="container-fluid plr-100">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-md-6 col-lg-5">
          <div class="hero-content-wrap text-white position-relative">
            <h1 class="text-white">Best Email Hosting Plan for Your Online Business</h1>
            <p class="lead">Web hosting made easy & affordable, choose a fine-tuned web hosting services solution for
              successful personal and business websites.</p>
            <a class="btn btn-tertiary btn-lg mt-3" href="#">Get Start Now</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="img-wrap text-lg-end">
            <img alt="email hosting" class="img-fluid" src="assets/img/email-hosting-img.svg">
          </div>
        </div>
      </div>
    </div>
  </section> <!--hero section end-->

  <!--feature section start-->
  <section class="feature-tab-section ptb-100  " id="features">
    <div class="container-fluid plr-100">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-xl-5 col-lg-5 col-12 order-lg-last align-self-center">
          <div class="image-box fadein text-xl-right text-center">
            <img alt="wp-hosting" class="img-fluid" src="assets/img/email-feature-img.jpg"/>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7 col-12 order-xl-first">
          <h2>Advanced Search to Make your Life Fester and Easier</h2>
          <p>Progressively matrix mission-critical core competencies without magnetic
            paradigms. Appropriately develop flexible ROI without goal-oriented customer
            service. Seamlessly.</p>
          <div class="row pt-2">
            <div class="col-md-6 col-12">
              <h5>WordPress Optimization</h5>
              <ul class="disc-style">
                <li>Latest and Fastest PHP/MySQL version</li>
                <li>SSD-only cloud with guaranteed CPU</li>
                <li>HTTP/2 and free CloudFlare CDN</li>
                <li>Observer Resource Monitoring</li>
              </ul>
            </div>
            <div class="col-md-6 col-12">
              <h5>Extra RocketBooster</h5>
              <ul class="disc-style">
                <li>Varnish Static and Dynamic caching</li>
                <li>LiteSpeed LSPHP Technology</li>
                <li>Opcode Caching</li>
                <li>Optimized static content processing</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-lg-between mt-5">
        <div class="col-xl-5 col-lg-5 col-12 order-lg-last align-self-center">
          <div class="image-box fadein text-xl-right text-center">
            <img alt="wp-hosting" class="img-fluid" src="assets/img/macbook.png"/>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7 col-12 order-xl-last">
          <h2>Everything You Need at Your Fingertips</h2>
          <p>Efficiently reintermediate long-term high-impact channels without equity
            invested technology. Quickly brand backend web-readiness without
            cross-platform e-services.</p>
          <div class="row pt-2">
            <div class="col-md-6 col-12">
              <h5>Exclusive Features</h5>
              <ul class="disc-style">
                <li>Daily Backups & free backup restore</li>
                <li>Security Updates and Patching</li>
                <li>Performance and resource monitoring</li>
                <li>Step-by-step Tutorials & Knowledgebase</li>
              </ul>
            </div>
            <div class="col-md-6 col-12">
              <h5>WordPress Services</h5>
              <ul class="disc-style">
                <li>1-click WordPress Installation</li>
                <li>Free WordPress Transfer</li>
                <li>Themes and plugins installation</li>
                <li>Malware Scan & Reports</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> <!--feature section end-->

  <!--call to action new section start-->
  <section class="ptb-60 primary-bg">
    <div class="container-fluid plr-100">
      <div class="row align-items-center justify-content-between">
        <div class="col-12 col-lg-6">
          <div class="cta-content-wrap text-white">
            <h2 class="text-white">
              24/7 Expert Hosting Support Our Customers Love
            </h2>
            <p>
              Objectively innovate high compellingly maintain progressively pursue
              mission-critical information quality imperatives.
            </p>
          </div>
          <div class="support-action d-inline-flex flex-wrap">
            <a class="me-3 text-info" href="mailto:support@yourdomain.com"><i
              class="fas fa-comment me-1 text-tertiary"></i>
              <span>support@yourdomain.com</span></a>
            <a class="mb-0 text-info" href="tel:+00123456789"><i class="fas fa-phone-alt me-1 text-tertiary"></i>
              <span>+00123456789</span></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-none d-lg-block">
          <div class="cta-img-wrap text-center">
            <img alt="server room" class="img-fluid" src="assets/img/call-center-support.svg" width="250"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--call to action new section end-->

  <!--pricing section start-->
  <section class="pricing-section ptb-100  ">
    <div class="container-fluid plr-100">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-6">
          <div class="section-heading text-center mb-4">
            <h2>Our Flexible Pricing Plan</h2>
            <p>
              Professional hosting at an affordable price. Distinctively
              recaptiualize principle-centered core competencies through
              client-centered core competencies.
            </p>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-md-center justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-8">
          <div class="text-center bg-white single-pricing-pack-2 mt-4 rounded border">
            <div class="pricing-icon">
              <img alt="hosing" src="assets/img/dadicate-web-hosting.svg" width="60"/>
            </div>
            <h4 class="package-title h5">Web Hosting</h4>
            <p class="mb-4">For small business</p>
            <div class="pricing-price pt-4">
              <small>Starting at</small>
              <div class="h2">$8.99 <span class="price-cycle h4">/mo</span></div>
            </div>
            <a class="btn btn-primary mt-3" href="#">Get Started Now</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-8">
          <div class="popular-price text-center bg-white single-pricing-pack-2 mt-4 rounded border">
            <div class="pricing-icon">
              <img alt="hosing" src="assets/img/vps-hosting.svg" width="60"/>
            </div>
            <h4 class="package-title h5">VPS Hosting</h4>
            <p class="mb-4">For medium business</p>
            <div class="pricing-price pt-4">
              <small>Starting at</small>
              <div class="h2">$8.99 <span class="price-cycle h4">/mo</span></div>
            </div>
            <a class="btn btn-primary mt-3" href="#">Get Started Now</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-8">
          <div class="text-center bg-white single-pricing-pack-2 mt-4 rounded border">
            <div class="pricing-icon">
              <img alt="hosing" src="assets/img/cloud-hosting.svg" width="60"/>
            </div>
            <h4 class="package-title h5">Cloud Hosting</h4>
            <p class="mb-4">Large and enterprise business</p>
            <div class="pricing-price pt-4">
              <small>Starting at</small>
              <div class="h2">$8.99 <span class="price-cycle h4">/mo</span></div>
            </div>
            <a class="btn btn-primary mt-3" href="#">Get Started Now</a>
          </div>
        </div>
        <div class="col-12">
          <div class="support-cta text-center mt-5">
            <h5 class="mb-1">
              <span class="fas fa-headset color-primary me-3"></span>We're Here
              to Help You
            </h5>
            <p>
              Have some questions? <a href="contact-us.html">Chat with us now</a>, or
              <a href="contact-us.html">send us an email</a> to get in touch.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--pricing section end-->

  <!--testimonial and review section start-->
  <section class="review-section ptb-100  gray-light-bg">
    <div class="container-fluid plr-100">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-3">
          <div class="section-heading">
            <h2>Trusted By Clients And Industry Experts</h2>
            <p>Uniquely repurpose strategic core competencies with progressive content. Assertively transition ethical
              imperatives and collaborative manufactured products. </p>
            <a class="read-more-link" href="#"> Write about us <i class="fas fa-face-grin-stars ms-2"></i></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-8">
          <div class="owl-carousel owl-theme client-testimonial-2 dot-bottom-center custom-dot">
            <div class="item">
              <div class="border single-review-wrap bg-white p-4 m-3">
                <div class="review-body">
                  <h5>Amazing template</h5>
                  <p>Distinctively foster maintainable metrics whereas multidisciplinary process improvements.
                    Objectively implement strategic niches through.</p>
                </div>
                <div class="review-author d-flex align-items-center">
                  <div class="author-avatar">
                    <img alt="author" class="rounded-circle shadow-sm img-fluid mr-3" src="assets/img/client-2.jpg"
                         width="64"/>
                    <span>“</span>
                  </div>
                  <div class="review-info">
                    <h6 class="mb-0">Ana Joly</h6>
                    <span>BizBite</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border single-review-wrap bg-white p-4 m-3">
                <div class="review-body">
                  <h5>Best template for app</h5>
                  <p>Efficiently innovate customized growth strategies whereas error-free paradigms. Monotonectally
                    enhance stand-alone data with prospective innovation.</p>
                </div>
                <div class="review-author d-flex align-items-center">
                  <div class="author-avatar">
                    <img alt="author" class="rounded-circle shadow-sm img-fluid mr-3" src="assets/img/client-1.jpg"
                         width="64"/>
                    <span>“</span>
                  </div>
                  <div class="review-info">
                    <h6 class="mb-0">Tony Roy</h6>
                    <span>BizBite</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border single-review-wrap bg-white p-4 m-3">
                <div class="review-body">
                  <h5>Efficiently innovate app</h5>
                  <p>Continually redefine sticky channels whereas extensive "outside the box" thinking. Rapidiously
                    supply focused schemas vis-a-vis optimal users.</p>
                </div>
                <div class="review-author d-flex align-items-center">
                  <div class="author-avatar">
                    <img alt="author" class="rounded-circle shadow-sm img-fluid mr-3" src="assets/img/client-3.jpg"
                         width="64"/>
                    <span>“</span>
                  </div>
                  <div class="review-info">
                    <h6 class="mb-0">Ana Joly</h6>
                    <span>BizBite</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border single-review-wrap bg-white p-4 m-3">
                <div class="review-body">
                  <h5>Uniquely mesh flexible</h5>
                  <p>Phosfluorescently optimize intermandated platforms without integrated infrastructures. Proactively
                    redefine granular thinking before.</p>
                </div>
                <div class="review-author d-flex align-items-center">
                  <div class="author-avatar">
                    <img alt="author" class="rounded-circle shadow-sm img-fluid mr-3" src="assets/img/client-4.jpg"
                         width="64"/>
                    <span>“</span>
                  </div>
                  <div class="review-info">
                    <h6 class="mb-0">Ana Joly</h6>
                    <span>BizBite</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border single-review-wrap bg-white p-4 m-3">
                <div class="review-body">
                  <h5>Uniquely mesh flexible</h5>
                  <p>Phosfluorescently optimize intermandated platforms without integrated infrastructures. Proactively
                    redefine granular thinking before.</p>
                </div>
                <div class="review-author d-flex align-items-center">
                  <div class="author-avatar">
                    <img alt="author" class="rounded-circle shadow-sm img-fluid mr-3" src="assets/img/client-1.jpg"
                         width="64"/>
                    <span>“</span>
                  </div>
                  <div class="review-info">
                    <h6 class="mb-0">Ana Joly</h6>
                    <span>BizBite</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border single-review-wrap bg-white p-4 m-3">
                <div class="review-body">
                  <h5>Holisticly reintermediate</h5>
                  <p>Collaboratively reintermediate out-of-the-box e-business via economically sound supply chains.
                    Dynamically target client-based holistic information.</p>
                </div>
                <div class="review-author d-flex align-items-center">
                  <div class="author-avatar">
                    <img alt="author" class="rounded-circle shadow-sm img-fluid mr-3" src="assets/img/client-2.jpg"
                         width="64"/>
                    <span>“</span>
                  </div>
                  <div class="review-info">
                    <h6 class="mb-0">Ana Joly</h6>
                    <span>BizBite</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> <!--testimonial and review section end-->

</div>
</body>

</html>
