<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'shared-hosting')}">
<body>
<div class="main">
  <!--hero section start-->
  <section class="ptb-120 gradient-bg gradient-overlay" data-overlay="8">
    <div class="container">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-md-6 col-lg-5">
          <div class="hero-content-wrap text-white position-relative">
            <h1 class="text-white">Unlimited Prestashop Web Hosting with 100% SSD</h1>
            <p class="lead">Web hosting made easy & affordable, choose a fine-tuned web hosting services solution for
              successful personal and business websites.</p>
            <a class="btn btn-tertiary btn-lg mt-3" href="#">Get Start Now</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="img-wrap text-lg-end">
            <img alt="email hosting" class="img-fluid" src="/img/prestashop-hosting.svg">
          </div>
        </div>
      </div>
    </div>
  </section> <!--hero section end-->

  <!--application hosting promo start-->
  <section class="appliction-hosting mt-n-90 ">
    <div class="container-fluid plr-100">
      <div class="d-none">
        <div class="col-md-9 col-lg-6">
          <div class="section-heading text-center mb-5">
            <h2>Application Hosting Optimised for WordPress & more</h2>
            <p>Our web hosting platform has been fully optimised to offer outstanding performance for your web
              applications, delivering speeds of up to16x faster.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="application-hosting-wrap">
            <ul class="app-list">
              <li><a class="bg-white shadow text-dark" href="#"><img alt="icon"
                                                                     src="/img/icons/wordpress-icon-color.svg"> <span>WordPress</span></a></li>
              <li><a class="bg-white shadow text-dark" href="#"><img alt="icon"
                                                                     src="/img/icons/joomla-icon-color.svg"> <span>Joomla</span></a></li>
              <li><a class="bg-white shadow text-dark" href="#"><img alt="icon"
                                                                     src="/img/icons/magento-icon-color.svg"> <span>Megento</span></a></li>
              <li><a class="bg-white shadow text-dark" href="#"><img alt="icon"
                                                                     src="/img/icons/opencart-icon-color.svg"> <span>OpenCart</span></a></li>
              <li><a class="bg-white shadow text-dark" href="#"><img alt="icon"
                                                                     src="/img/icons/prestashop-icon-color.svg"> <span>Prestashop</span></a></li>
              <li><a class="bg-white shadow text-dark" href="#"><img alt="icon"
                                                                     src="/img/icons/drupal-icon-color.svg"> <span>Drupal</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> <!--application hosting promo end-->
    <section class="pricing-section ptb-100 " id="pricing">
      <div class="container-fluid plr-100">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6">
                    <div class="section-heading text-center mb-4">
                        <h2>Lựa chọn gói Web Hosting</h2>
                      <p>Lựa chọn gói dịch vụ phù hợp với doanh nghiệp của bạn. Tạo lợi thế cho doanh nghiệp kinh doanh
                        online.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-md-center justify-content-center">
              <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="popular-price bg-white pricing-new-wrapper mt-4 p-5 shadow-sm border">

                  <div class="pricing-info">
                    <h2>Gói Cơ Bản</h2>
                    <p class="text-muted">
                      Gói hosting cơ bản, phù hợp với các website Blog cá nhân, Portfolio.
                    </p>
                  </div>
                  <div class="pricing-content">
                    <ul class="list-unstyled pricing-feature-list-2 mt-4 mb-3">
                      <li>
                        <i class="far fa-hdd me-2"></i>
                        <p>
                          <strong>Không giới hạn</strong> Dung lượng ổ đĩa
                        </p>
                        <span class="text-under-line" data-bs-placement="top"
                              data-bs-title="Bộ lưu trữ đám mây dựa trên SSD mang lại hiệu suất và độ tin cậy tuyệt vời cho trang web của bạn."
                              data-bs-toggle="tooltip">
                                          <i class="fas fa-info-circle ms-1"></i>
                                        </span>
                      </li>
                      <li>
                        <i class="fas fa-route me-2"></i>
                        <p>
                          <strong>Không giới hạn</strong> Băng thông
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-database me-2"></i>
                        <p>
                          <strong>Không giới hạn </strong> Databases
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-server me-2"></i>
                        <p>
                          <strong>Lưu trữ 1</strong> Website
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-mail-bulk me-2"></i>
                        <p>
                          <strong>Không giới hạn</strong> Tài khoản email
                        </p>
                        <span class="text-under-line" data-bs-placement="top"
                              data-bs-title="Khởi tạo không giới hạn số lượng tài khoản email."
                              data-bs-toggle="tooltip">
                                          <i class="fas fa-info-circle ms-1"></i>
                                        </span>
                      </li>
                      <li>
                        <i class="fas fa-shield me-2"></i>
                        <p>
                          <strong>Miễn phí </strong> SSL
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-globe me-2"></i>
                        <p>
                          <strong>Miễn phí </strong> Website Builder
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-headset me-2"></i>
                        <p>
                          <strong>24/7</strong> Hỗ trợ kĩ thuật
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-upload me-2"></i>
                        <p>
                          <strong>99.9%</strong> Đảm bảo thời gian hoạt động
                        </p>
                      </li>
                    </ul>
                    <a class="btn btn-primary btn-block"
                       href="https://portal.skynetidc.com/index.php?rp=/store/shared-hosting/premium" target="_blank">Mua
                      ngay</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-8">
                    <div class="popular-price bg-white pricing-new-wrapper mt-4 p-5 shadow-sm border">
                        <div class="pricing-info">
                          <h2>Gói Tiêu Chuẩn</h2>
                            <p class="text-muted">
                              Gói hosting tiêu chuẩn, phù hợp với các website blog cá nhân, lượng người dùng truy cập
                              không nhiều.
                            </p>
                        </div>
                        <div class="pricing-content">
                            <ul class="list-unstyled pricing-feature-list-2 mt-4 mb-3">
                                <li>
                                    <i class="far fa-hdd me-2"></i>
                                    <p>
                                        <strong>Không giới hạn</strong> Dung lượng ổ đĩa
                                    </p>
                                    <span class="text-under-line" data-bs-placement="top" data-bs-title="Bộ lưu trữ đám mây dựa trên SSD mang lại hiệu suất và độ tin cậy tuyệt vời cho trang web của bạn."
                                          data-bs-toggle="tooltip">
                                          <i class="fas fa-info-circle ms-1"></i>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-route me-2"></i>
                                    <p>
                                        <strong>Không giới hạn</strong> Băng thông
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-database me-2"></i>
                                    <p>
                                        <strong>Không giới hạn </strong> Databases
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-server me-2"></i>
                                    <p>
                                        <strong>Lưu trữ 1</strong> Website
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-mail-bulk me-2"></i>
                                    <p>
                                        <strong>Không giới hạn</strong> Tài khoản email
                                    </p>
                                    <span class="text-under-line" data-bs-placement="top" data-bs-title="Khởi tạo không giới hạn số lượng tài khoản email."
                                          data-bs-toggle="tooltip">
                                          <i class="fas fa-info-circle ms-1"></i>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-shield me-2"></i>
                                    <p>
                                        <strong>Miễn phí </strong> SSL
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-globe me-2"></i>
                                    <p>
                                        <strong>Miễn phí </strong> Website Builder
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-headset me-2"></i>
                                    <p>
                                        <strong>24/7</strong> Hỗ trợ kĩ thuật
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-upload me-2"></i>
                                    <p>
                                        <strong>99.9%</strong> Đảm bảo thời gian hoạt động
                                    </p>
                                </li>
                            </ul>
                          <a class="btn btn-primary btn-block"
                             href="https://portal.skynetidc.com/index.php?rp=/store/shared-hosting/premium"
                             target="_blank">Mua ngay</a>
                        </div>
                    </div>
                </div>
              <div class="col-lg-3 col-md-6 col-sm-8">
                    <div class="popular-price bg-white pricing-new-wrapper mt-4 p-5 shadow-sm border">
                        <div class="pricing-info">
                          <h2>Gói Cao Cấp</h2>
                            <p class="text-muted">
                              Gói hosting cao cấp, phù hợp với các website thương mại điện tử nhỏ, lượng khách hàng vừa
                              phải.
                            </p>
                        </div>
                        <div class="pricing-content">
                            <ul class="list-unstyled pricing-feature-list-2 mt-4 mb-3">
                                <li>
                                    <i class="far fa-hdd me-2"></i>
                                    <p>
                                        <strong>Không giới hạn</strong> Dung lượng ổ SSD
                                    </p>
                                    <span class="text-under-line" data-bs-placement="top" data-bs-title="Bộ lưu trữ đám mây dựa trên SSD mang lại hiệu suất và độ tin cậy tuyệt vời cho trang web của bạn."
                                          data-bs-toggle="tooltip">
                                          <i class="fas fa-info-circle ms-1"></i>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-route me-2"></i>
                                    <p>
                                        <strong>Không giới hạn</strong> Băng thông
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-database me-2"></i>
                                    <p>
                                        <strong>Không giới hạn </strong> Databases
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-server me-2"></i>
                                    <p>
                                        <strong>Không giới hạn </strong> Website
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-mail-bulk me-2"></i>
                                    <p>
                                        <strong>Không giới hạn</strong> Tài khoản email
                                    </p>
                                    <span class="text-under-line" data-bs-placement="top" data-bs-title="Create an Không giới hạn number of mailboxes at no extra cost."
                                          data-bs-toggle="tooltip">
                                          <i class="fas fa-info-circle ms-1"></i>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-shield me-2"></i>
                                    <p>
                                        <strong>Miễn phí </strong> SSL
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-globe me-2"></i>
                                    <p>
                                        <strong>Miễn phí</strong> Website Builder
                                    </p>
                                    <span class="text-under-line" data-bs-placement="top" data-bs-title="On annual plans or higher. First year only."
                                          data-bs-toggle="tooltip">
                                          <i class="fas fa-info-circle ms-1"></i>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-headset me-2"></i>
                                    <p>
                                        <strong>24/7</strong> Hỗ trợ kĩ thuật
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-upload me-2"></i>
                                    <p>
                                        <strong>99.9%</strong> Đảm bảo thời gian hoạt động
                                    </p>
                                </li>
                            </ul>
                          <a class="btn btn-primary btn-block"
                             href="https://portal.skynetidc.com/index.php?rp=/store/shared-hosting/ultimate"
                             target="_blank">Mua ngay</a>
                        </div>
                    </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="popular-price bg-white pricing-new-wrapper mt-4 p-5 shadow-sm border">
                  <div class="pricing-info">
                    <h2>Gói Doanh Nghiệp</h2>
                    <p class="text-muted">
                      Gói hosting cao cấp dành cho doanh nghiệp, phù hợp với các website lớn, lượng truy cập nhiều.
                    </p>
                  </div>
                  <div class="pricing-content">
                    <ul class="list-unstyled pricing-feature-list-2 mt-4 mb-3">
                      <li>
                        <i class="far fa-hdd me-2"></i>
                        <p>
                          <strong>Không giới hạn</strong> Dung lượng ổ SSD
                        </p>
                        <span class="text-under-line" data-bs-placement="top"
                              data-bs-title="Bộ lưu trữ đám mây dựa trên SSD mang lại hiệu suất và độ tin cậy tuyệt vời cho trang web của bạn."
                              data-bs-toggle="tooltip">
                                          <i class="fas fa-info-circle ms-1"></i>
                                        </span>
                      </li>
                      <li>
                        <i class="fas fa-route me-2"></i>
                        <p>
                          <strong>Không giới hạn</strong> Băng thông
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-database me-2"></i>
                        <p>
                          <strong>Không giới hạn </strong> Databases
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-server me-2"></i>
                        <p>
                          <strong>Không giới hạn </strong> Website
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-mail-bulk me-2"></i>
                        <p>
                          <strong>Không giới hạn</strong> Tài khoản email
                        </p>
                        <span class="text-under-line" data-bs-placement="top"
                              data-bs-title="Create an Không giới hạn number of mailboxes at no extra cost."
                              data-bs-toggle="tooltip">
                                          <i class="fas fa-info-circle ms-1"></i>
                                        </span>
                      </li>
                      <li>
                        <i class="fas fa-shield me-2"></i>
                        <p>
                          <strong>Miễn phí </strong> SSL
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-globe me-2"></i>
                        <p>
                          <strong>Miễn phí</strong> Website Builder
                        </p>
                        <span class="text-under-line" data-bs-placement="top"
                              data-bs-title="On annual plans or higher. First year only."
                              data-bs-toggle="tooltip">
                                          <i class="fas fa-info-circle ms-1"></i>
                                        </span>
                      </li>
                      <li>
                        <i class="fas fa-headset me-2"></i>
                        <p>
                          <strong>24/7</strong> Hỗ trợ kĩ thuật
                        </p>
                      </li>
                      <li>
                        <i class="fas fa-upload me-2"></i>
                        <p>
                          <strong>99.9%</strong> Đảm bảo thời gian hoạt động
                        </p>
                      </li>
                    </ul>
                    <a class="btn btn-primary btn-block"
                       href="https://portal.skynetidc.com/index.php?rp=/store/shared-hosting/ultimate" target="_blank">Mua
                      ngay</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
  <section class="feature-section ptb-100">
    <div class="container-fluid plr-100">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6">
                    <div class="section-heading text-center">
                        <h2>Tính năng của các gói Shared Hosting</h2>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-3 mt-4">
                    <div class="features-box p-5 ">
                        <div class="features-box-icon mb-3">
                            <span class="fas fa-gauge icon-size-md color-primary"></span>
                        </div>
                        <div class="features-box-content">
                            <h5>Bảng điều khiển cPanel</h5>
                            <p>Bảng điều khiển trực quan của chúng tôi cung cấp cho bạn quyền truy cập quản trị viên vào
                                tất cả các sản phẩm Dreamhost của bạn một cách dễ dàng.</p>
                        </div>
                    </div>
                </div>
              <div class="col-md-6 col-lg-3 mt-4">
                    <div class="features-box p-5 ">
                        <div class="features-box-icon mb-3">
                            <span class="fas fa-thumbs-up icon-size-md color-primary"></span>
                        </div>
                        <div class="features-box-content">
                            <h5>Đội ngũ con người</h5>
                            <p>
                                Những người chuyên gia của chúng tôi sẵn sàng tối ưu hóa trải nghiệm của bạn. Cho dù bạn
                                liên hệ với bộ phận hỗ trợ của chúng tôi,
                                hay đọc tài liệu của chúng tôi thì việc nhận được câu trả lời đều rất dễ dàng.
                            </p>
                        </div>
                    </div>
                </div>
              <div class="col-md-6 col-lg-3 mt-4">
                    <div class="features-box p-5 ">
                        <div class="features-box-icon mb-3">
                            <span class="fas fa-mouse icon-size-md color-primary"></span>
                        </div>
                        <div class="features-box-content">
                            <h5>Cài đặt với 1 Click</h5>
                            <p>
                                Không cần phải tìm hiểu một đống tài liệu. Đơn giản chỉ cần click và cài đặt các ứng
                                dụng web như WordPress, Joomla..vv!.
                                Và vô số ứng dụng khác trong kho ứng dụng open source hoàn toàn miễn phí của chúng tôi.
                                Các chuyên gia của chúng tôi sẽ
                                hỗ trợ bạn cài đặt hoàn toàn miễn phí.
                            </p>
                        </div>
                    </div>
                </div>
              <div class="col-md-6 col-lg-3 mt-4">
                    <div class="features-box p-5 ">
                        <div class="features-box-icon mb-3">
                            <span class="fas fa-stopwatch icon-size-md color-primary"></span>
                        </div>
                        <div class="features-box-content">
                            <h5>99% Đảm bảo thời gian hoạt động</h5>
                            <p>Với nhiều vị trí trung tâm dữ liệu trên khắp thế giới, chúng tôi đảm bảo thời gian Uptime
                                của ứng dụng 99%.</p>
                        </div>
                    </div>
                </div>
              <div class="col-md-6 col-lg-3 mt-4">
                    <div class="features-box p-5 ">
                        <div class="features-box-icon mb-3">
                            <span class="fas fa-hard-drive icon-size-md color-primary"></span>
                        </div>
                        <div class="features-box-content">
                            <h5>Ổ đĩa SSD chuyên dụng</h5>
                            <p>Với SSD, trang web, bộ nhớ đệm và truy vấn cơ sở dữ liệu của bạn sẽ nhanh hơn nhờ tính
                                toán của chúng tôi.</p>
                        </div>
                    </div>
                </div>
              <div class="col-md-6 col-lg-3 mt-4">
                    <div class="features-box p-5 ">
                        <div class="features-box-icon mb-3">
                            <span class="fas fa-trophy icon-size-md color-primary"></span>
                        </div>
                        <div class="features-box-content">
                            <h5>Hỗ trợ 24/7</h5>
                            <p>Không có câu hỏi nào là quá đơn giản hoặc quá phức tạp đối với đội ngũ chuyên gia của
                                chúng tôi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </section>
</div>
</body>
</html>
