<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 5.3//EN"
	"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="connection.url">jdbc:mysql://160.30.200.23:3306/whmcs?useSSL=false</property>
		<property name="connection.username">whmcs</property>
		<property name="connection.password">?B!Sz93*yH</property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<!--		<mapping class="com.skynetidc.model.ModInvoicedatum"/>-->
<!--		<mapping class="com.skynetidc.model.Tblaccount"/>-->
<!--		<mapping class="com.skynetidc.model.Tblactivitylog"/>-->
<!--		<mapping class="com.skynetidc.model.Tbladdonmodule"/>-->
<!--		<mapping class="com.skynetidc.model.Tbladdon"/>-->
<!--		<mapping class="com.skynetidc.model.TbladminInvite"/>-->
<!--		<mapping class="com.skynetidc.model.Tbladminlog"/>-->
<!--		<mapping class="com.skynetidc.model.Tbladminperm"/>-->
<!--		<mapping class="com.skynetidc.model.Tbladminrole"/>-->
<!--		<mapping class="com.skynetidc.model.Tbladmin"/>-->
<!--		<mapping class="com.skynetidc.model.Tbladminsecurityquestion"/>-->
<!--		<mapping class="com.skynetidc.model.Tblaffiliate"/>-->
<!--		<mapping class="com.skynetidc.model.TblaffiliatesHit"/>-->
<!--		<mapping class="com.skynetidc.model.TblaffiliatesReferrer"/>-->
<!--		<mapping class="com.skynetidc.model.Tblaffiliatesaccount"/>-->
<!--		<mapping class="com.skynetidc.model.Tblaffiliateshistory"/>-->
<!--		<mapping class="com.skynetidc.model.Tblaffiliatespending"/>-->
<!--		<mapping class="com.skynetidc.model.Tblaffiliateswithdrawal"/>-->
<!--		<mapping class="com.skynetidc.model.Tblannouncement"/>-->
<!--		<mapping class="com.skynetidc.model.TblapiRole"/>-->
<!--		<mapping class="com.skynetidc.model.Tblapilog"/>-->
<!--		<mapping class="com.skynetidc.model.Tblapplink"/>-->
<!--		<mapping class="com.skynetidc.model.TblapplinksLink"/>-->
<!--		<mapping class="com.skynetidc.model.TblapplinksLog"/>-->
<!--		<mapping class="com.skynetidc.model.TblauthnAccountLink"/>-->
<!--		<mapping class="com.skynetidc.model.TblauthnConfig"/>-->
<!--		<mapping class="com.skynetidc.model.Tblbankacct"/>-->
<!--		<mapping class="com.skynetidc.model.Tblbannedemail"/>-->
<!--		<mapping class="com.skynetidc.model.Tblbannedip"/>-->
<!--		<mapping class="com.skynetidc.model.Tblbillableitem"/>-->
<!--		<mapping class="com.skynetidc.model.Tblbundle"/>-->
<!--		<mapping class="com.skynetidc.model.Tblcalendar"/>-->
<!--		<mapping class="com.skynetidc.model.Tblcampaign"/>-->
<!--		<mapping class="com.skynetidc.model.Tblcancelrequest"/>-->
<!--		<mapping class="com.skynetidc.model.Tblcart"/>-->
<!--		<mapping class="com.skynetidc.model.Tblclientgroup"/>-->
<!--		<mapping class="com.skynetidc.model.Client"/>-->
<!--		<mapping class="com.skynetidc.model.Tblclientsfile"/>-->
<!--		<mapping class="com.skynetidc.model.Tblconfiguration"/>-->
<!--		<mapping class="com.skynetidc.model.Tblcontact"/>-->
<!--		<mapping class="com.skynetidc.model.Tblcredit"/>-->
<!--		<mapping class="com.skynetidc.model.Tblcreditcard"/>-->
<!--		<mapping class="com.skynetidc.model.Tblcurrency"/>-->
<!--		<mapping class="com.skynetidc.model.Tblcustomfield"/>-->
<!--		<mapping class="com.skynetidc.model.Tblcustomfieldsvalue"/>-->
<!--		<mapping class="com.skynetidc.model.Tbldeviceauth"/>-->
<!--		<mapping class="com.skynetidc.model.TbldomainLookupConfiguration"/>-->
<!--		<mapping class="com.skynetidc.model.Tbldomainpricing"/>-->
<!--		<mapping class="com.skynetidc.model.TbldomainpricingPremium"/>-->
<!--		<mapping class="com.skynetidc.model.Tbldomainreminder"/>-->
<!--		<mapping class="com.skynetidc.model.Tbldomain"/>-->
<!--		<mapping class="com.skynetidc.model.TbldomainsExtra"/>-->
<!--		<mapping class="com.skynetidc.model.Tbldomainsadditionalfield"/>-->
<!--		<mapping class="com.skynetidc.model.Tbldownloadcat"/>-->
<!--		<mapping class="com.skynetidc.model.Tbldownload"/>-->
<!--		<mapping class="com.skynetidc.model.TbldynamicTranslation"/>-->
<!--		<mapping class="com.skynetidc.model.TblemailImage"/>-->
<!--		<mapping class="com.skynetidc.model.Tblemailmarketer"/>-->
<!--		<mapping class="com.skynetidc.model.TblemailmarketerRelatedPivot"/>-->
<!--		<mapping class="com.skynetidc.model.Tblemail"/>-->
<!--		<mapping class="com.skynetidc.model.Tblemailtemplate"/>-->
<!--		<mapping class="com.skynetidc.model.Tblerrorlog"/>-->
<!--		<mapping class="com.skynetidc.model.Tblfileassetmigrationprogress"/>-->
<!--		<mapping class="com.skynetidc.model.Tblfileassetsetting"/>-->
<!--		<mapping class="com.skynetidc.model.Tblfraud"/>-->
<!--		<mapping class="com.skynetidc.model.Tblgatewaylog"/>-->
<!--		<mapping class="com.skynetidc.model.Tblhostingaddon"/>-->
<!--		<mapping class="com.skynetidc.model.Tblhostingconfigoption"/>-->
<!--		<mapping class="com.skynetidc.model.InvoiceData"/>-->
<!--		<mapping class="com.skynetidc.model.InvoiceItem"/>-->
<!--		<mapping class="com.skynetidc.model.Invoice"/>-->
<!--		<mapping class="com.skynetidc.model.TblioncubeFileLog"/>-->
<!--		<mapping class="com.skynetidc.model.TbljobsQueue"/>-->
<!--		<mapping class="com.skynetidc.model.Tblknowledgebase"/>-->
<!--		<mapping class="com.skynetidc.model.TblknowledgebaseImage"/>-->
<!--		<mapping class="com.skynetidc.model.Tblknowledgebasecat"/>-->
<!--		<mapping class="com.skynetidc.model.Tblknowledgebaselink"/>-->
<!--		<mapping class="com.skynetidc.model.Tblknowledgebasetag"/>-->
<!--		<mapping class="com.skynetidc.model.Tbllink"/>-->
<!--		<mapping class="com.skynetidc.model.TbllogRegister"/>-->
<!--		<mapping class="com.skynetidc.model.TblmarketconnectService"/>-->
<!--		<mapping class="com.skynetidc.model.TblmarketingConsent"/>-->
<!--		<mapping class="com.skynetidc.model.TblmetricUsage"/>-->
<!--		<mapping class="com.skynetidc.model.TblmoduleConfiguration"/>-->
<!--		<mapping class="com.skynetidc.model.Tblmodulelog"/>-->
<!--		<mapping class="com.skynetidc.model.Tblmodulequeue"/>-->
<!--		<mapping class="com.skynetidc.model.Tblnetworkissue"/>-->
<!--		<mapping class="com.skynetidc.model.Tblnote"/>-->
<!--		<mapping class="com.skynetidc.model.Tblnotificationprovider"/>-->
<!--		<mapping class="com.skynetidc.model.Tblnotificationrule"/>-->
<!--		<mapping class="com.skynetidc.model.TbloauthserverAccessTokenScope"/>-->
<!--		<mapping class="com.skynetidc.model.TbloauthserverAccessToken"/>-->
<!--		<mapping class="com.skynetidc.model.TbloauthserverAuthCode"/>-->
<!--		<mapping class="com.skynetidc.model.TbloauthserverAuthcodeScope"/>-->
<!--		<mapping class="com.skynetidc.model.TbloauthserverClientScope"/>-->
<!--		<mapping class="com.skynetidc.model.TbloauthserverClient"/>-->
<!--		<mapping class="com.skynetidc.model.TbloauthserverScope"/>-->
<!--		<mapping class="com.skynetidc.model.TbloauthserverUserAuthz"/>-->
<!--		<mapping class="com.skynetidc.model.TbloauthserverUserAuthzScope"/>-->
<!--		<mapping class="com.skynetidc.model.Tblondemandrenewal"/>-->
<!--		<mapping class="com.skynetidc.model.Order"/>-->
<!--		<mapping class="com.skynetidc.model.Tblorderstatus"/>-->
<!--		<mapping class="com.skynetidc.model.Tblpaymentgateway"/>-->
<!--		<mapping class="com.skynetidc.model.TblpaymentgatewaysProductMapping"/>-->
<!--		<mapping class="com.skynetidc.model.Tblpaymethod"/>-->
<!--		<mapping class="com.skynetidc.model.Tblpricing"/>-->
<!--		<mapping class="com.skynetidc.model.TblpricingBracket"/>-->
<!--		<mapping class="com.skynetidc.model.TblproductDownload"/>-->
<!--		<mapping class="com.skynetidc.model.TblproductGroupFeature"/>-->
<!--		<mapping class="com.skynetidc.model.TblproductRecommendation"/>-->
<!--		<mapping class="com.skynetidc.model.TblproductUpgradeProduct"/>-->
<!--		<mapping class="com.skynetidc.model.Tblproductconfiggroup"/>-->
<!--		<mapping class="com.skynetidc.model.Tblproductconfiglink"/>-->
<!--		<mapping class="com.skynetidc.model.Tblproductconfigoption"/>-->
<!--		<mapping class="com.skynetidc.model.Tblproductconfigoptionssub"/>-->
<!--		<mapping class="com.skynetidc.model.Tblproducteventaction"/>-->
<!--		<mapping class="com.skynetidc.model.Tblproductgroup"/>-->
<!--		<mapping class="com.skynetidc.model.Product"/>-->
<!--		<mapping class="com.skynetidc.model.TblproductsSlug"/>-->
<!--		<mapping class="com.skynetidc.model.TblproductsSlugsTracking"/>-->
<!--		<mapping class="com.skynetidc.model.Tblpromotion"/>-->
<!--		<mapping class="com.skynetidc.model.Tblquoteitem"/>-->
<!--		<mapping class="com.skynetidc.model.Tblquote"/>-->
<!--		<mapping class="com.skynetidc.model.Tblregistrar"/>-->
<!--		<mapping class="com.skynetidc.model.Tblrsakeypair"/>-->
<!--		<mapping class="com.skynetidc.model.TblserverTenant"/>-->
<!--		<mapping class="com.skynetidc.model.Tblservergroup"/>-->
<!--		<mapping class="com.skynetidc.model.Tblservergroupsrel"/>-->
<!--		<mapping class="com.skynetidc.model.Tblserver"/>-->
<!--		<mapping class="com.skynetidc.model.TblserversRemote"/>-->
<!--		<mapping class="com.skynetidc.model.Tblserversssoperm"/>-->
<!--		<mapping class="com.skynetidc.model.Tblservicedatum"/>-->
<!--		<mapping class="com.skynetidc.model.Tblsession"/>-->
<!--		<mapping class="com.skynetidc.model.Tblsslorder"/>-->
<!--		<mapping class="com.skynetidc.model.Tblsslstatus"/>-->
<!--		<mapping class="com.skynetidc.model.Tblstorageconfiguration"/>-->
<!--		<mapping class="com.skynetidc.model.Tbltask"/>-->
<!--		<mapping class="com.skynetidc.model.TbltaskStatus"/>-->
<!--		<mapping class="com.skynetidc.model.Tbltax"/>-->
<!--		<mapping class="com.skynetidc.model.TbltenantStat"/>-->
<!--		<mapping class="com.skynetidc.model.TblticketWatcher"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketaction"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketbreakline"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketdepartment"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketescalation"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketfeedback"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketlog"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketmaillog"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketnote"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketpendingimport"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketpredefinedcat"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketpredefinedreply"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketreply"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticket"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketspamfilter"/>-->
<!--		<mapping class="com.skynetidc.model.Tblticketstatus"/>-->
<!--		<mapping class="com.skynetidc.model.Tbltickettag"/>-->
<!--		<mapping class="com.skynetidc.model.Tbltodolist"/>-->
<!--		<mapping class="com.skynetidc.model.TbltransactionHistory"/>-->
<!--		<mapping class="com.skynetidc.model.Tbltransientdatum"/>-->
<!--		<mapping class="com.skynetidc.model.Tblupdatehistory"/>-->
<!--		<mapping class="com.skynetidc.model.Tblupdatelog"/>-->
<!--		<mapping class="com.skynetidc.model.Tblupgrade"/>-->
<!--		<mapping class="com.skynetidc.model.TblusageItem"/>-->
<!--		<mapping class="com.skynetidc.model.TbluserInvite"/>-->
<!--		<mapping class="com.skynetidc.model.TbluserValidation"/>-->
<!--		<mapping class="com.skynetidc.model.Tbluserrole"/>-->
<!--		<mapping class="com.skynetidc.model.TblusersClient"/>-->
<!--		<mapping class="com.skynetidc.model.Tblwhoislog"/>-->
<!--		<mapping class="com.skynetidc.model.Hosting"/>-->
<!--		<mapping class="com.skynetidc.model.Tblrole"/>-->
	</session-factory>
</hibernate-configuration>
