<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'cloud-vps')}">
<body>
<div class="main ">
  <!--hero section start-->
  <section class="ptb-120 gradient-bg">
    <div class="container-fluid plr-100">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-md-6 col-lg-5">
          <div class="hero-content-wrap text-white position-relative">
            <h1 class="text-white">Transfer Your Domain</h1>
            <p class="lead">Web hosting made easy & affordable, choose a fine-tuned web hosting services solution for successful personal and business websites.</p>
            <div class="domain-transfer-wrap mt-4">
              <form action="domain-search-result.php" class="domain-transfer-form newsletter-form position-relative w-75">
                <input type="text" name="domain" id="domain" class="form-control rounded-pill" placeholder="yourdomainname.com" />
                <button type="submit" class="btn btn-tertiary">Transfer</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="img-wrap text-lg-end">
            <img src="assets/img/domain-transfer.svg" alt="domain registration" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--hero section end-->

  <!--application hosting promo start-->
  <section class="appliction-hosting ptb-100  gray-light-bg">
    <div class="container-fluid plr-100">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-6">
          <div class="section-heading text-center mb-5">
            <h2>Application Hosting Optimised for WordPress & more</h2>
            <p>Our web hosting platform has been fully optimised to offer outstanding performance for your web applications, delivering speeds of up to16x faster.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="application-hosting-wrap">
            <ul class="app-list">
              <li><a href="#" class="bg-white shadow text-dark"><img src="assets/img/icons/wordpress-icon-color.svg" alt="icon"> <span>WordPress</span></a></li>
              <li><a href="#" class="bg-white shadow text-dark"><img src="assets/img/icons/joomla-icon-color.svg" alt="icon"> <span>Joomla</span></a></li>
              <li><a href="#" class="bg-white shadow text-dark"><img src="assets/img/icons/magento-icon-color.svg" alt="icon"> <span>Megento</span></a></li>
              <li><a href="#" class="bg-white shadow text-dark"><img src="assets/img/icons/opencart-icon-color.svg" alt="icon"> <span>OpenCart</span></a></li>
              <li><a href="#" class="bg-white shadow text-dark"><img src="assets/img/icons/prestashop-icon-color.svg" alt="icon"> <span>Prestashop</span></a></li>
              <li><a href="#" class="bg-white shadow text-dark"><img src="assets/img/icons/drupal-icon-color.svg" alt="icon"> <span>Drupal</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> <!--application hosting promo end-->

  <!--feature section start-->
  <section class="feature-tab-section ptb-100  " id="features">
    <div class="container-fluid plr-100">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-6">
          <div class="cta-new-wrap">
            <h2>100% Control on Your Web Projects - Transfer Now</h2>
            <p class="lead">Once you have everything you need, perform these 4 simple steps, proactively partnerships with worldwide products.</p>
            <ul class="list-unstyled tech-feature-list">
              <li class="py-1"><span class="me-2 h5">1.</span>Enter the domain name you want to
                transfer.</li>
              <li class="py-1"><span class="me-2 h5">2.</span>Proceed with the purchase.</li>
              <li class="py-1"><span class="me-2 h5">3.</span>Enter the EPP code.</li>
              <li class="py-1"><span class="me-2 h5">4.</span>Confirm your transfer.</li>
            </ul>
            <div class="action-btns mt-4">
              <a href="#" class="btn btn-outline-primary">Get Started Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="cta-new-wrap">
            <img src="assets/img/hero-img.png" alt="hosting" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="row align-items-center mt-5">
        <div class="col-md-6 col-lg-6">
          <div class="cta-new-wrap">
            <img src="assets/img/create-website.svg" alt="hosting" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="cta-new-wrap">
            <h2>Before transferring your domain, make sure of the following</h2>
            <p class="lead">Phosfluorescently fashion front-end web-readiness vis-a-vis robust fabricate scalable web-readiness technologies. </p>
            <ul class="list-unstyled tech-feature-list">
              <li class="py-1"><span class="fas fa-check-circle text-success me-2"></span>It's been
                more than 60 days since the domain registration or last transfer.</li>
              <li class="py-1"><span class="fas fa-check-circle text-success me-2"></span>Domain is not
                in Pending Delete or Redemption status.</li>
              <li class="py-1"><span class="fas fa-check-circle text-success me-2"></span>The
                authorisation code that proves your ownership of the domain. </li>
              <li class="py-1"><span class="fas fa-check-circle text-success me-2"></span>You can get
                the EPP code from the current domain provider.</li>
              <li class="py-1"><span class="fas fa-check-circle text-success me-2"></span>Whois privacy
                protection is disabled.</li>
              <li class="py-1"><span
                class="fas fa-check-circle text-success me-2"></span>Enthusiastically extend worldwide e-services.</li>
              <li class="py-1"><span
                class="fas fa-check-circle text-success me-2"></span>Professionally develop holistic solutions.</li>
            </ul>
            <div class="action-btns mt-4">
              <a href="#" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--feature section end-->
</div>
</body>
</html>
